body {
	background-image:url('../images/tweed.png');
}

.container {
	background-image:url('../images/linedpaper.png');
	font-family: 'Lusitana', serif;
	font-size:16px;
	padding:0 15px;
	min-height:100%;
}

nav li {
	display: inline-block;
	padding: 5px;
	margin: 5px;
}

i { cursor:default; }

.main-content {
	/*margin:0 15px;*/
	background-color: 
}

.project-item {
	padding-bottom: 15px;
	margin: 0 auto;
}

.project-item a {
	font-size:20px;
}

.item-description {
	padding:15px 15px 0 15px;
}

hr	{
	border-color:#905424;
}

.skills-header h3 {
	display:inline;
}

.fa-check {
	display:inline;
	color:green;
	margin-left:5px;
	font-size:24px;
}
