html, body, .container {
	height:100%;
}

body {
	background-image:url('../images/green_cup.png');
}

.container {
	background-image:url('../images/crossword.png');
}

.about-container {
	padding:0 15px;
}

nav ul{
	/*background-color: red;*/
}

nav li {
	display: inline-block;
	padding: 5px;
	margin: 5px;
}


.resources-container {
	padding: 0 15px;
}

i {
	cursor:default;
}